{% extends "../base.html" %}

{% block css_link %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}

		{% block content %}
			<div id="board" class="board-form">
				<table class="tbl-ex">
					<tr>
						<th colspan="2">글보기</th>
					</tr>
					<tr>
						<td class="label">제목</td>
						<td>{{ board.title }}</td>
					</tr>
					<tr>
						<td class="label">내용</td>
						<td>
							<div class="view-content">
								{{ board.content }}<br>
							</div>
						</td>
					</tr>
				</table>
				{% if board.user_id is request.session.authuser.id %}
				<div class="bottom">
					<a href="/board">글목록</a>
					<a href="/board/modify?id={{ board.id }}">글수정</a>
				</div>
					{% else %}
					<div class ="bottom">
						<tr>
							<h2 align="center">수정 할 권한이 없습니다.</h2>
						</tr>
						<tr>
							<br>

							</br>
						</tr>
						<tr>
							<td><a href="/user/loginform"><input type="button" align="middle" value="로그인"></a></td>
						</tr>
					</div>
				{% endif %}
			</div>
		{% endblock %}