{% extends "../base.html" %}


{% block css_link %}
	<link href="/assets/css/guestbook.css" rel="stylesheet" type="text/css">
{% endblock %}

			{ % block content %}
			<div id="board" class="board-form">{% csrf_token %}
				<table class="tbl-ex">
					<tr>
						<th colspan="2">글보기</th>
					</tr>
					<tr>
						<td class="label">제목</td>
						<td>{{ board.title }}</td>
					</tr>
					<tr>
						<td class="label">내용</td>
						<td>
							<div class="view-content">
								{{ board.content }}<br>
							</div>
						</td>
					</tr>
				</table>

				<div class="bottom">
					<a href="">글목록</a>
					<a href="">글수정</a>
				</div>
			</div>
			{ % endblock %}
